


.blog-posts {
	margin-top: 100px;
}

.blog-posts .blog-post {
	margin-bottom: 30px;
}

.blog-posts .blog-thumb img {
	/* width: 100%; */
	overflow: hidden;
	display: block;
    margin: 0 auto;
	padding: 40px;
}

@media screen and (max-width: 600px) {
	.blog-posts .blog-thumb img {
	  width: 100%;
	}
  }

@media screen and (min-width: 992px) {
	.blog-posts .blog-thumb img {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	br {
		display: none;
	}
}


.blog-posts .down-content {
	/* padding: 40px; */
	/* border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee; */
}

.blog-posts .down-content span {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 900;
	color: #f48840;
}

.blog-posts .down-content h4 {
	font-size: 36px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-weight: 900;
	color: #20232e;
	margin: 50px 0px 12px 0px;
	text-decoration: underline;
}

.blog-posts .down-content h4 {
	font-size: 30spx;
	letter-spacing: 0.1px;
}



.blog-posts .down-content p {
	/* padding: 25px 0px;
	margin: 25px 0px; */
	/* border-top: 10px solid #eee;
	border-bottom: 10px solid #eee; */
}



